#add-new{
    border: 3px solid;
    padding: 5px;
    width: 500px;
    position: relative;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-weight: bold;
}

#add-new button{
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.input-span{
    display: inline-block;
    margin: 5px;
}

.submit-btn{
    display: inline-block;
    margin-left: 50px;
}

.el-input{
    width: auto;
}

#line-no{
    width: 200px;
}

.input-span input{
    width: 50px;
    margin: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

#confirm{
    left: 0 !important;
    margin-left: 20px;
}