.navigator{
    position: fixed;
    top: 0;
    left: 0;
    background-color: burlywood;
    width: 100%;
    padding: 10px;
}

.nav-tag{
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
    text-decoration: none;
    border-radius: 3px;
    border: rgb(125, 100, 237) 3px solid;
    background-color: cadetblue;
    padding: 5px;
}

.nav-tag.active{
    background-color: crimson;
}